body {
    margin: 2%;
    width: 90%;
    float: left;
}

#cabecera{
    background-color: #eee;
    padding: 2%;
    text-align: center;
  }
   
  #pie {
    background-color: #eee;
    padding: 2%;
    clear: both;
    text-align: center;
  }

#cuerpo {
  padding: 1%;
}
.columna1, .columna2, .columna3{
    background-color: #eee;
    width: 32%;
    float: left;
    margin: 0.5%;
    text-align: center;

}
  li {
    display: inline;
    padding: 1%;
  }
